body {
    height: 100%;
    font-size: 14px;
}

#container {
    min-height: 100%;
}

#google {
    position: relative;
    text-align: center;
    margin-top: 20vh;
}

main {
    overflow: auto;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    padding: 12px;
    float: left;
}

footer ul li a {
    width: 100%;
    height: auto;
    padding: 12px;
    display: flex;
    /* flex-wrap: wrap;
    align-items: flex-end; */
}

footer {
    background-color: grey;
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;
    text-align: center;  
}

.left-nav {
    display: flex;
}

.right-nav {
    display: flex;
}

.search {
    text-align: center;
    padding: 10px;
}

.search-button  {
    padding: 12px;
}

.bottom-left {
    display: flex;
}

.bottom-right {
    display: flex;
}